*{
    font-family: Poppins; 
}

.banner-home{
 background: #0089FF;
 width: auto;
}

.banner-home h1{
    font-size: 48px;
    font-weight: 700;
}

.text-banner-home{
    color: #fff;
    margin-top: 14rem;
    /* padding-bottom: 1.5rem; */
}

.text-yellow{
    color: #F6C350;
}

.text-sessao1{
    margin-top: 10.8rem;
}

.text-sessao1 h1{
    color: #0089FF;
    font-weight: 700;
}

.text-sessao1 h3{
    color: #575757;
    font-weight: 600;
}

.banner-sessao2{
 background: #0089FF;
 width: full;
}

.divisao{
    margin-top: 2rem;
}

.text-sessao2{
 color: #FFF;
 text-align: center;
 font-size: 40px;
 font-style: normal;
 font-weight: 700;
 padding-top: 6rem;
 padding-bottom: 4.5rem;
}

.text-sessao3{
    color: #0089FF;
text-align: center;
font-family: Poppins;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal; 
}

.descrition-sessao3{
    color:  #9C9C9C;
text-align: center;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.card01{
    border-radius: 8px;
background: #0089FF;
width: 321.178px;
height: 300px;
flex-shrink: 0;
}

.icon-card01{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding-top: 3.2rem;
padding-bottom: 0.1rem;

}

.card01 strong{
 color: #FFF;
 display: flex;
 text-align: center;
 font-size: 25px;
 font-style: normal;
 font-weight: 600;
 line-height: normal;
 margin-top: 2rem;
padding-left: 4rem;
}

.sessao4{
    padding-top: 2rem;
}

.sessao4 h1{
    color: #0089FF;
text-align: center;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.card02{
    border-radius: 16px;
background: #FFF;
box-shadow: 0px 4px 4px -1px rgba(0, 0, 0, 0.25);
}

.icon-card02{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding-top: 1.5rem;
padding-bottom: 0.5rem;
}

.title-card02{
    color: #575757;
text-align: center;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.descrition-card02{
    color: #9C9C9C;
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-bottom: 2.5rem;
}

.title-sessao6{
    color: #0089FF;
text-align: center;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.icons-redes-sociais i{
    font-size: 24px;
    padding-left: 0.2rem;
    color: #9C9C9C;
}

.rodape{
    background: #0089FF;
}

.rodape p{
    color: #FFF;
text-align: center;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-top: 2rem;
}

.rodape p strong{
    color: #FFF;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
}