#mainNav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /* Certifique-se de que o navbar fique acima de outros elementos */
}

@keyframes vibrate {
  0% { transform: translate(0, 0); }
  20% { transform: translate(-2px, 2px); }
  30% { transform: translate(2px, -2px); }
  50% { transform: translate(-2px, 2px); }
  70% { transform: translate(2px, -2px); }
  100% { transform: translate(0, 0); }
}

.whatsapp-icon {
  font-size: 48px; /* Ajuste conforme necessário */
  color: #25D366; /* Cor do WhatsApp */
  animation: vibrate 0.8s infinite;
  cursor: pointer;
}


.bs-icon {
  --bs-icon-size: .75rem;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  font-size: var(--bs-icon-size);
  width: calc(var(--bs-icon-size) * 2);
  height: calc(var(--bs-icon-size) * 2);
  color: var(--bs-primary);
}

.bs-icon-xs {
  --bs-icon-size: 1rem;
  width: calc(var(--bs-icon-size) * 1.5);
  height: calc(var(--bs-icon-size) * 1.5);
}

.bs-icon-sm {
  --bs-icon-size: 1rem;
}

.bs-icon-md {
  --bs-icon-size: 1.5rem;
}

.bs-icon-lg {
  --bs-icon-size: 2rem;
}

.bs-icon-xl {
  --bs-icon-size: 2.5rem;
}

.bs-icon.bs-icon-primary {
  color: var(--bs-white);
  background: var(--bs-primary);
}

.bs-icon.bs-icon-primary-light {
  color: var(--bs-primary);
  background: rgba(var(--bs-primary-rgb), .2);
}

.bs-icon.bs-icon-semi-white {
  color: var(--bs-primary);
  background: rgba(255, 255, 255, .5);
}

.bs-icon.bs-icon-rounded {
  border-radius: .5rem;
}

.bs-icon.bs-icon-circle {
  border-radius: 50%;
}

/* Estilos para o navbar */
/* Estilos para a barra de navegação */
.navbar {
  background: #f8fcff;
  margin-bottom: -56px;
  color: #ffffff;
}

/* Estilos para o botão toggle */
.navbar-toggler {
  background-color: white;
  border: px solid #F6C350 !important;
  /* Altere para uma borda amarela */
}

/* Estilos para o ícone do botão toggle */
.navbar-toggler-icon {
  color: #F6C350;
}

/* Estilos para a barra de navegação de cor clara */
.navbar-light {
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23F6C350' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  --bs-navbar-toggler-border-color: #F6C350;
}

/* Estilos para a seção */
.section-background {
  background: #0089FF;
  margin-top: -7px;
  padding-top: 0px;
  margin-bottom: -77px;
  color: #ffffff;
}

/* Estilos para o texto centralizado */
.center-h3 {
  text-align: center;
}

nav ul li a {
  font-size: 15px;
  text-decoration: none;
  border-bottom: 3px solid transparent;
  /* Define uma borda transparente */
  transition: border-bottom 0.3s;
  /* Adiciona uma transição suave para a borda */

}

nav ul li a.active {
  border-bottom: 3px solid #F6C350;
  /* Adiciona uma borda amarela ao item ativo */
  font-size: 15px;
  font-weight: bold;
}
nav ul li a:hover {
  border-bottom: 3px solid #F6C350;
  /* Adiciona uma borda amarela ao item ativo */
  font-size: 15px;
  font-weight: bold;
}

.logo-pincodes {
  width: 100px;
  height: 60px;
  
}




.collapse .navbar-nav .nav-item a {
  color: #0089FF;
  font-size: 16px;
  font-weight: bold;
}

/* Estilos para o botão */
.btn-outline-light {
  color: #f6c350 !important;
  /* Cor do texto amarela */
  border-color: #f6c350 !important;
  /* Cor da borda amarela */
  font-weight: 600;
  padding: 10px 20px;
  /* Ajuste o valor do padding */
  border-radius:none; 
}

.btn-outline-light:hover {
  background-color: #ffffff;
  /* Fundo branco ao passar o mouse */
  color: #F6C350 !important;
  /* Cor do texto branca ao passar o mouse */
  border: #F6C350;
}

.item {
  margin-top: -20px;
  /* Ajuste o valor  */
  margin-bottom: 10px;
  /* Ajuste o valor */
}

.card-style {
  margin: 8px;
}

.card-style .bg-primary {
  background-color: #0089FF;
  border-radius: 8px;
}

.card-style h5 {
  font-size: 18px;
  color: #fff;
}

@media (max-width: 767px) {
  .text-center-sm {
    text-align: center !important;
  }

  .centert-h2 {
    text-align: center !important;
    font-size: 30px !important;
    margin-right: 20px;
  }
}

/* Estilo para a seção com fundo azul */
.custom-section {
  height: 132px;
  background: #0089FF;
  margin-top: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilo para o parágrafo de texto */
.custom-text {
  font-size: 40px;
  font-family: Roboto, sans-serif;
  color: #f5f5f9;
  text-align: center;
}

/* Estilo para telas pequenas */
@media (max-width: 767px) {
  .custom-section {
    height: 80px;
  }

  .custom-text {
    font-size: 18px !important;
  }
  
}

/*segunda section*/
@media (max-width: 767px) {
  .text-center-sm {
    text-align: center !important;
  }

  .center-h3 {
    text-align: center !important;
    font-size: 20px !important;
    margin-left: 50px !important;
  }
}

/* Estilos para telas maiores */
@media (min-width: 992px) {
  .text-section {
    margin: 0 -50px;
  }
}

@media (min-width: 992px) {
  .text-section {
    margin: 0 -50px;
  }
}

/* Estilos base para telas maiores */
@media (min-width: 1920px) {
 
  .collapse .navbar-nav .nav-item a {
    font-size: 19px;
  }

  .centert-h2 {
    font-size: 70px !important;
  }

  .text-start p {
    font-size: 25px !important;
  }

  #Const{
    margin-top: 50px !important;
  }
  .text-section {
   
    width: 784px;
    margin: auto 0;
  }

  .text-center-sm h3 {
    margin-bottom:30px !important;
    font-size: 35px !important;
       
  }

  .text-center-sm #sub {
    margin-top:30px !important;
    font-size: 28px !important;

  }

  .text-center-sm {
    margin-bottom:25px !important;
    font-size: 25px !important;
    padding:2px !important ;
  }

  img {
    width: 700px;
 
 }
 #card img{
 width:110px;
 height:110px;
 }
 .features-icons-item h5{
  font-size:24px !important;
 
 }
.page-footer .col-12 img{
  object-fit: contain;
 }


}

@media (min-width: 1920px) {
  .page-footer {
    justify-content: space-between;
    align-items: stretch;
  }

  .page-footer > div {
    flex: 1;
    padding: 40px;
  }

  .page-footer > div ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: bolder;
  }

  .footer-copyright {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
