@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Roboto:ital@1&display=swap');

:root {
    --main-color: #F6DD37;
    --main-color1: #fff;
    --main-bg: #00A2FF;
    --main-color2: #282828;
    --subtitulo-color: var(--main-color2);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {

    background-color: #00A2FF;

}

nav {
    display: flex;
}

nav ul {
    display: flex;
    list-style: none;
    margin: auto;
}

nav ul li a {
    padding: 10px;
    font-weight: bold;
}

.home .content {

    display: flex;
    background-color: #00A2FF;
}

.home .content .txt-apresentation {
    margin: auto;
}

.home a {
    position: absolute;
    top: 400px;
    left: 119px;
}

.about {
    display: flex;
    flex-direction: row-reverse;
}
.about .titulo {
    margin: auto;
}
.banner1 {
    background-color: #00A2FF;
    padding:60px;
    text-align: center;
    color: white;
}
.Services{
    text-align: center;
}
.Services .boxs{
    display: flex;
    justify-content: center;
}
.Services .boxs .box-1{
    background-color: #00A2FF;
    margin:10px;
    padding:10px;
     border-radius: 12px;
}
.services{
    text-align: center;
}
.Services .boxs .box-4{
    background-color: #00A2FF;
    margin:10px;
    padding:10px 50px;
    border-radius: 12px;
}
.Services .boxs .box-3{
    background-color: #00A2FF;
    margin:10px;
    padding:10px 40px;
    border-radius: 12px;
}
.services .pilares{
    display: flex;
    justify-content: center;
}
.services .pilares .services-box{
 margin: 15px;
}
#construindo{
    background-color: #00A2FF;
    padding: 30px;
    text-align: center;
    color: white;
}
.portifolio{
    text-align: center;
}
.portifolio .portifolio-box{
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Divide em 3 colunas com tamanhos iguais */
  gap: 10px; /* Espaçamento entre as colunas e linhas */ 
  flex-direction: row;
}
.transforme{
    background-color: #00A2FF;
    color: white;
    text-align: center;
    padding:30px;
}
footer{
    text-align: center;
}
.contactos {
    display: flex;
    justify-content: center;
    justify-content: space-around;
}
.copy{
    background-color: #00A2FF;
    padding: 20px;
}
